.main-header{
    background:url('../../../images/jeffery-ho-RbsZ3n9-iYc-unsplash.jpg');
    background-size: cover;
    padding:10px;
    margin-bottom: 10px;
    height: 600px;
    
}
.title{
    margin-top: 70%;
}